.navbar.footer
	.container
		.navbar-header		
			a.navbar-brand(href="/terms") © 2015 Company, Inc. All Rights Reserved
		.nav.navbar-nav.navbar-right
			ul.nav.navbar-nav
				li
					a(href='/contact') Contact