extends layout
block content
  .page-header.col-md-offset-1.col-md-10
    h3 Add Link
  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='title') Title
      .col-sm-7
        input.form-control(type='text', name='title', id='title', placeholder='title', autofocus=true, required)
    .form-group
      label.col-sm-3.control-label(for='link') Link
      .col-sm-7
        input.form-control(type='text', name='imageUrl', id='link', placeholder='Link', required)
    .form-group
      label.col-sm-3.control-label(for='Category') Category
      .col-sm-7
        input.form-control(type='text', name='category', class='category-search', placeholder='Category', required)
    .form-group
      label.col-sm-3.control-label(for='Category') Price
      .col-sm-7
        input.form-control(type='text', name='price', class='category-search', placeholder='Category', required)
    .form-group.row
      label.col-sm-3.control-label(for='description') Description
      .col-sm-7
        textarea.form-control(type='text', name='description', id='description', rows="4",placeholder='Description')
    .form-group.row
      .col-sm-offset-3.col-sm-7
        button.col-sm-3.btn.btn-primary(type='submit') Add Link
