extends layoutCategory
block content
	.container-fluid.no-margin
		.row.category-header
			.gradient-mask
			.col-md-12.text-center
				h3.catTitle
					=cat.title
				p.col-md-8.col-md-offset-2
					=cat.description
			.col-md-4.form-group.col-md-offset-8
				if links
					a(href="/category/child/"+cat.url, class="btn btn-transparent col-md-6 col-md-offset-2") Child Categories
				else if childCats
					a(href="/category/"+cat.url, class="btn btn-transparent col-md-6 col-md-offset-2") Links
				else
					a(href="/category/"+cat.url, class="btn btn-transparent col-md-4 col-md-offset-2") Links
		.row
			.col-md-10.col-md-offset-1.padded
				if links
					each link in links
						.row.list-group-item
							a(href=link.url, target="_blank" class="link")
								=link.title
							p
								=link.description
				if childCats
					each childCat in childCats
						.row.list-group-item
							a(href="/category/"+childCat.url class="category-link")
								=childCat.title
							p
								=childCat.description