extends layout
block content
  .container-fluid
    .items.col-md-7.col-md-offset-1.col-xs-7.col-xs-offset-1
      each cat in categories
        .well.row
          legend
            =cat.title
          .grid-card
            each item in items
              if item._category == cat.title
                .col-md-3.thumbnail.img-fixed-height.side-padded
                  img(src=item.imageUrl)
                  .caption
                    legend.name(data-id=item.id)
                      =item.title
                    h4.inline-label Price:&nbsp&nbsp&nbsp
                    h4.inline-label Rs. 
                    h4.inline-label.price
                      =item.price
                    input(min="0", value='1', type="number", class="hide qty form-control", placeholder="quantity")
                    button.btn.btn-primary.form-control.cart Add to Card

    .myCart.cart-container.col-md-3.col-md-offset-1.col-xs-3.col-xs-offset-1.well
      legend Cart
      .flex-row
        button.getFood.btn.btn-primary Order Food
        button.clearCart.btn.btn-danger Clear Cart
      h3.total Cart Empty
      .items.top-padded

