extends layout
block content
	.col-md-10.col-md-offset-1
		.page-header
			h3 Complete Order
		if items
			- var total = 0;
			.well.col-md-offset-2.col-md-8
				each item in items
					.form-group.col-sm-offset-1
						h3
							=item.name
							span  ✕ 
							span
								=item.qty
						h4
							span
								=item.price
							span  ✕
							span  
								=item.qty
						- total += parseInt(item.qty)*parseInt(item.price)
				br
				h2.col-sm-offset-1 Your Total: #{total}
			.form-horizontal
				.form-group
					label.col-sm-3.control-label Address
					.col-sm-7
						input(type="text", class="form-control", id="address", name="address", value=user.address, placeholder="Address", required)
				.form-group
					label.col-sm-3.control-label Phone number
					.col-sm-7
						input(type="text", class="form-control", id="phone", name="phone", value=user.phone, placeholder="Phone Number", required)
				.form-group
					.col-sm-offset-3.col-sm-7
						a(href="/").btn.btn-danger.col-sm-5.col-xs-12.margin-top-1
							i.fa.fa-user-check-square-o
							| Change Order
						button.btn.btn-success.col-sm-5.col-sm-offset-2.col-xs-12.margin-top-1.confirm-order
							i.fa.fa-user-check-square-o
							| Confirm Order
		else
			.form-group
				h1 Nothing Selected
				a(href="/").btn.btn-danger.col-sm-5
					i.fa.fa-user-check-square-o
					| Back