extends layout
block content
	.col-md-8.col-md-offset-2.container.text-center.padded.well
		.row
			h1 Your order has been recieved
			br
			h1 Thank you for you order
			br
			hr
		.row
			h4 You will receive a call from us shortly

