extends layout
block content
	.col-md-10.col-md-offset-1
		.page-header
			h1 Terms and Conditions
		ul
			li 
				h4 Coupons cannot be clubbed with any other offer.
			li 
				h4 Please announce the coupon and coupon code to the order taker while placing the order
			li 
				h4 Cut and hand over coupon to the delivery person while taking the delivery
			li 
				h4 All prices are exclusive of taxes
			li 
				h4 Only one coupon is valid per order
			li 
				h4 All coupons have limited validity
			li 
				h4 Delivery charges applicable Rs.10 per order if distance more than 5 km range
			li 
				h4 Time of delivery depends on the location of customer and cannot be guaranteed
			li 
				h4 Prices of products subject to change without prior notice